<a href="https://colab.research.google.com/github/PatriciaFalchi/Projeto_Pipeline_ETL_Python/blob/main/PipelineETL_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Contruindo um Pipeline ETL com Python

Desafio de Projeto do **Santander Bootcamp 2023 - Ciência de Dados com Python.**


O Projeto modelo é intitulado: Explorando IA Generativa em um Pipeline de ETL com Python
[Link para acesso ao projeto modelo](https://colab.research.google.com/drive/1SF_Q3AybFPozCcoFBptDSFbMk-6IVGF-?usp=sharing#scrollTo=kNuP0SDUZMBY)

## Objetivo do desafio:
O aluno deveria criar uma pipeline de ETL com Python, inspirado no modelo original ensinado no curso.

# Extract
extraindo dados de uma planilha do Excel.

In [83]:
import pandas as pd
df = pd.read_excel('funcionarios.xlsx', dtype={'Valor Bruto': float, 'Desconto': float, 'Valor Líquido': float})
print(df)

        Trabalhador  Tipo do Serviço        Mês  Valor Bruto  Desconto  \
0   Beatriz do Vale       Jardinagem  Fevereiro       3520.0      70.4
1   Beatriz do Vale       Jardinagem      Março       2240.0      44.8
2       Carlos Leme       Jardinagem      Abril       3520.0      70.4
3     Daniela Silva       Jardinagem       Maio       4480.0      89.6
4       Ana Cardoso       Jardinagem      Junho       2240.0      44.8
5     Eduardo Souza       Jardinagem      Julho       1920.0      38.4
6       Ana Cardoso       Jardinagem     Agosto       3520.0      70.4
7       Ana Cardoso       Jardinagem   Setembro       4160.0      83.2
8     Eduardo Souza       Jardinagem    Outubro       2560.0      51.2
9       Carlos Leme       Jardinagem   Novembro       3840.0      76.8
10    Daniela Silva       Jardinagem   Dezembro       3520.0      70.4
11    Eduardo Souza             Copa      Março       2400.0      48.0
12        João Maia  Serviços Gerais  Fevereiro       2400.0      48.0
13        João Maia  Serviços Gerais      Março       2700.0      54.0
14  Beatriz do Vale  Serviços Gerais      Abril       2700.0      54.0
15  Beatriz do Vale  Serviços Gerais       Maio       3600.0      72.0
16      Carlos Leme  Serviços Gerais      Junho       2400.0      48.0
17  Beatriz do Vale  Serviços Gerais      Julho       2700.0      54.0
18      Ana Cardoso  Serviços Gerais     Agosto       3600.0      72.0
19      Ana Cardoso  Serviços Gerais   Setembro       3900.0      78.0
20      Carlos Leme  Serviços Gerais   Novembro       2100.0      42.0
21        João Maia  Serviços Gerais   Dezembro       3600.0      72.0

    Valor Líquido
0          3449.6
1          2195.2
2          3449.6
3          4390.4
4          2195.2
5          1881.6
6          3449.6
7          4076.8
8          2508.8
9          3763.2
10         3449.6
11         2352.0
12         2352.0
13         2646.0
14         2646.0
15         3528.0
16         2352.0
17         2646.0
18         3528.0
19         3822.0
20         2058.0
21         3528.0

# Transform
Agrupamento de quanto cada trabalhador recebeu por mês.

In [86]:
trabalhador_mes = df.groupby(['Trabalhador', 'Mês']).sum()
print(trabalhador_mes)

                           Valor Bruto  Desconto  Valor Líquido
Trabalhador     Mês
Ana Cardoso     Agosto          7120.0     142.4         6977.6
                Junho           2240.0      44.8         2195.2
                Setembro        8060.0     161.2         7898.8
Beatriz do Vale Abril           2700.0      54.0         2646.0
                Fevereiro       3520.0      70.4         3449.6
                Julho           2700.0      54.0         2646.0
                Maio            3600.0      72.0         3528.0
                Março           2240.0      44.8         2195.2
Carlos Leme     Abril           3520.0      70.4         3449.6
                Junho           2400.0      48.0         2352.0
                Novembro        5940.0     118.8         5821.2
Daniela Silva   Dezembro        3520.0      70.4         3449.6
                Maio            4480.0      89.6         4390.4
Eduardo Souza   Julho           1920.0      38.4         1881.6
                Março           2400.0      48.0         2352.0
                Outubro         2560.0      51.2         2508.8
João Maia       Dezembro        3600.0      72.0         3528.0
                Fevereiro       2400.0      48.0         2352.0
                Março           2700.0      54.0         2646.0

In [87]:
gasto_anual = df.groupby(['Mês']).sum()

print(gasto_anual)

           Valor Bruto  Desconto  Valor Líquido
Mês
Abril           6220.0     124.4         6095.6
Agosto          7120.0     142.4         6977.6
Dezembro        7120.0     142.4         6977.6
Fevereiro       5920.0     118.4         5801.6
Julho           4620.0      92.4         4527.6
Junho           4640.0      92.8         4547.2
Maio            8080.0     161.6         7918.4
Março           7340.0     146.8         7193.2
Novembro        5940.0     118.8         5821.2
Outubro         2560.0      51.2         2508.8
Setembro        8060.0     161.2         7898.8

In [88]:
with pd.ExcelWriter('Relatório.xlsx') as arquivo:
  trabalhador_mes.to_excel(arquivo,sheet_name='trabalhador_mes')
  gasto_anual.to_excel(arquivo,sheet_name='gasto_anual')